@media screen and (max-width:749px){
     .app{
          width:100%;
          margin: 0 auto;
     }
     .menu{
          display: block;
     }
     .Leftmenu{
          width:100%;
     }
     .MenuRight{
          width:100%;
         text-align: center;
     }
     .RightMenu{
          justify-content: center;
          
     }
     .banner{
          margin-top:76px;
     }
     .allProduct{
          margin-left:25%;
     }
     .input{
          position: absolute;
          border-radius: 2px;
          top: 100%;
          right: 8rem;
          
     }
}
@media screen and (min-width:750px) and (max-width:900px){
     .app{
          width:95%;
          margin:0 auto;
     }
     .menuLeft{
          width: 100%;
          text-align: center;
     }
     .Leftmenu{
          justify-content: center;
          font-size: large;
     }
     
     .MenuRight{
          width:100%;
         text-align: center;
     }
     .RightMenu{
          justify-content: center;
          
     }
     .allProduct{
          margin-left:30%;
     }
     .input{
          right: 12rem;
     }
} 
@media screen and (min-width:901px) and (max-width:1200px){
     .app{
         
     }
     .input{
          right: 12rem;
     }
}
@media screen and (min-width:1201px) and (max-width:1700px){
     .input{
          right: 13rem;
     } 
}