@media screen and (max-width:749px){
     .app{
          width:100%;
          margin: 0 auto;
     }
     .menu{
          display: block;
     }
     .Leftmenu{
          width:100%;
     }
     .MenuRight{
          width:100%;
         text-align: center;
     }
     .RightMenu{
          justify-content: center;
          
     }
     .banner{
          margin-top:76px;
     }
     .allProduct{
          margin-left:25%;
     }
     .inputSearch{
          position: absolute;
          border-radius: 2px;
          top: 100%;
          right: 8rem;
          
     }
}
@media screen and (min-width:750px) and (max-width:900px){
     .app{
          width:95%;
          margin:0 auto;
     }
     .menuLeft{
          width: 100%;
          text-align: center;
     }
     .Leftmenu{
          justify-content: center;
          font-size: large;
     }
     
     .MenuRight{
          width:100%;
         text-align: center;
     }
     .RightMenu{
          justify-content: center;
          
     }
     .allProduct{
          margin-left:30%;
     }
     .inputSearch{
          right: 12rem;
     }
     .slider_1{
          margin:5px;
     }
     #card_1{
          margin: 5px;
     }
     #card_1 p{
          font-size: 15px;
     }
     .ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
     width:5%;
  z-index: 3;
  margin-right: 20px;
  font-size: 25px;
  margin-top:-20px;
  color:#e70c4e;
  border-radius:2px ;
     height:28px;
  background-color: #f4aac062;

}


     
} 
@media screen and (min-width:901px) and (max-width:1200px){
     .app{
         
     }
     .inputSearch{
          right: 12rem;
     }
     
     .slider_1{
          margin:2px;
     }
     #card_1{
          margin: 5px;
     }
     #card_1 p{
          font-size: 15px;
     }.ant-carousel .slick-prev,
     .ant-carousel .slick-next,
     .ant-carousel .slick-prev:hover,
     .ant-carousel .slick-next:hover {
     width:5%;
       z-index: 3;
       margin-right: 20px;
       font-size: 25px;
       margin-top:-30px;
       color:#e70c4e;
       border-radius:2px ;
          height:28px;
       background-color: #f4aac062;
     
     }
     #card_footer{
          
          margin-left:0;
     }
     .Card_footer{
          justify-content:center ;
          background: linear-gradient(180deg, rgba(244, 170, 192, 0.76) 0%, rgba(244, 170, 192, 0.00) 100%);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
     }
     .icon-card-footer{
      font-size: 30px;
      margin-top: -5px;
      font-weight: bolder;
      margin-bottom: 10px;
      
     }
     .Card_footer p{
          font-size: 15px;
          font-weight: bolder;
          text-align: center;
     }
}
@media screen and (min-width:1201px) and (max-width:1700px){
     .inputSearch{
          right: 13rem;
     } 
     
}