/*Header*/
body,html,*{
     margin:0 ;
     padding:0;
     border:none;
     box-sizing:border-box;
     font-family: sans-serif;
     heigt:auto;
     
     
}
.main{
     background-color: white;
}
.appHeader{
     width:100%;
     height:50px;
     margin:0 auto;
     font-family: 'Times New Roman', Times, serif;
}

.promotionHeader{
     background-color: White;
     text-align: center;
     height:20px;
     margin-top:0;
     margin-bottom: 2px;
     
}
.promotionHeader h3{
     color: red;
     display:inline;
     
}
.menuHeader{
     width:100%;
     position: fixed;
     left: 0;
     z-index: 100;
     transition: transform 0.1s ease-in-out;
}
.menuHeader.visible {
     transform: translateY(0);
}

.menuHeader.hidden {
     top:0;
     transform: translateY(1);
}
.menu{
     width:100%;
     display:flex;
    
}
.menuLeft{
     width:100%;
}
.Leftmenu{
     background-color: #F4AAC0;
     color:White;
     font-size:20px;
     font-weight: bold;
}
.groupAo{
     text-align: center;
     border-bottom: 1px solid #e70c4e;
     font-size: 25px;
     color:#e70c4e;
}

.MenuRight{
width:25%;
}
.RightMenu{
     background-color: #F4AAC0;
     font-size: large;
     font-weight: bold;
}
.large-icon{
     margin-top: 20px;
     margin-bottom: 7px;
     color:black;
}
/*banner*/
.banner{
     width: 100%;
     margin-top:24px;
     
}
.Headerbanner{
     background-size: cover;
     background-repeat: no-repeat;
}
/*Menucard*/
.cardMenu{
     background-color: white;
     padding :20px;
     justify-content: center;
     display:flex;
     flex-grow: row wrap;

}
.cards_Item{
     display:flex;
     align-items: center;
     justify-content: center;
     flex-grow: 1;
     flex-basis: 100px;
     background:linear-gradient(#F4AAC0,White);
     margin:15px;
     transition: all 0.2s ease-in-out,box-shadow 0.1s;
     box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.3);

          
     
}
.cards_Item:hover{
     transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
.ImageCard{
     display:flex;
     justify-content: center;
     align-items: center;
     background-size: cover;
     background-repeat: no-repeat;
}
.nameCard{
     text-align: center;
     font-size: 20px;
     margin-top : 20px;
	color: #515151;
	text-decoration: none;
}
.allProduct{
     padding:20px;
     text-align: center;
     border-radius: 3px;
     background: rgba(244, 170, 192, 0.35);
     width:auto;
     justify-content: center;
     width: 300px;
     margin-left: 37%;
     margin-right: 40%;
     font-size: larger;
     color:gray;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}
#search-box{
     height:50px;
     font-size: 20px;
}
.search-form{
     display:flex;

}
Input::placeholder{
     font-size: 20px;
}
#btn-Search{
     height:50px;
     background-color: #e70c4e;
     margin-left:-55px;
}
.input{
     position: absolute;
     border-radius: 2px;
     top: 100%;
     right: 20rem;
     width: 70%;
     box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
     transform: scaleY(0);
     transform-origin: top; 
     z-index: 10; 
     overflow-y: auto;
     transition: transform 0.3s ease-in-out;
     
}
.input.active{
     transform: scaleY(1);
}